{% extends "base.html" %}
{% block content %}
<div class="card form-card">
    <h2>Login</h2>

    <form method="post">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button class="btn" type="submit">Login with Email</button>
    </form>

    <div class="divider">or</div>

    <a class="btn google" href="{{ url_for('login_google') }}">Login with Google OAuth</a>
</div>
{% endblock %}
